<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yevhen's Hotel</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
<p th:text="'Clock:' + ${currentDateTime}">current date time</p>
<h1>Room Reservations</h1>
<table>
    <tr>
        <th>Target Date</th>
        <th>Room Number</th>
        <th>Guest Email</th>
    </tr>
    <tr th:each="roomReservation: ${roomReservations}">
        <td th:text="${roomReservation.targetDate}">target date</td>
        <td th:text="${roomReservation.roomNumber}">room number</td>
        <td th:text="${roomReservation.guestEmail}">guest email</td>
    </tr>
</table>
</body>
</html>